.wrapper {
    padding: 20px;
    width: 320px;
    background-color: rgba(13, 14, 13, 0.171);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow {
    padding: 6px 10px;
}
.body {
    margin-top: 12px;
    color: #161823;
}
.nickname {
    font-size: 1.8rem;
}
.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}
.name {
    font-size: 1.4rem;
}
.analytics {
    font-size: 1.6rem;
    margin-top: 10px;
}
.value ~ .value {
    margin-left: 20px;
}

.label {
    color: #161823bf;
}
